@font-face {
  font-family: "Poppins Black";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Black.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins BlackItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-BlackItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraBold.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins ExtraBoldItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins ExtraLight";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraLight.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins ExtraLightItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraLightItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins Italic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Italic.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Light.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins LightItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-LightItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Medium.ttf) format("opentype");
}
@font-face {
  font-family: "Poppins MediumItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-MediumItalic.ttf) format("opentype");
}
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins SemiBoldItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-SemiBoldItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-Thin.ttf) format("opentype");
}

@font-face {
  font-family: "Poppins ThinItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Poppins-ThinItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Black";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Black.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto BlackItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-BlackItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto BoldItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-BoldItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Italic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Italic.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Light.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto LightItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-LightItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto MediumItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-MediumItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-Thin.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto ThinItalic";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Roboto-ThinItalic.ttf) format("opentype");
}
